# Documentación
**/docs/** | @Alejo.txw @Aidan-5 @maleorbea @santiiis @luisramirezrv

# Front-End
**/src/frontend/** | @Alejo.txw @Aidan-5 @santiiis

# Back-End
**/src/backend/** |  @santiiis @KevinGiron

# Base de Datos
