| Sebastián Chocho | Engineering Manager | Scrum Master | Developer Full Stack | Organiza el proceso y elimina cualquier problema para que el equipo trabaje sin interrupciones. |

| Lander Gonzales - Kevin Giron| Developer Full Stack | Construye la lógica y los servidores donde se guardan los productos y las cuentas de usuario. |

| Aidan Carpio  | Developer Full Stack | Crea la parte visual de la aplicación que los usuarios ven y tocan en sus celulares (Flutter). |

| Malena Orbea | Technical Writer | Proxy PO | Define exactamente qué debe hacer la app y redacta los manuales y requisitos del proyecto. |

| Luis Ramirez | QA Engineer | Developer (QA) | Revisa la aplicación para encontrar errores y asegura que todo funcione bien antes de entregarla. |
