name: emprendeuidemovil
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2  # Indentado al mismo nivel que 'sdk: flutter'
  # Agrega otras dependencias aquí si las tienes, e.g.:
  # cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0  # Actualiza a la versión más reciente si es necesario

flutter:
  uses-material-design: true